<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Colab Planner</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="page">
            <h2>Colab Planner for Multi-Modal Freight Transport</h2>

            <div class="metanav">
                {% if not session.username %}
                    <a href="{{ url_for('login') }}">Log in</a>
                {% else %}
                <div class="username">{{ session.username }}</div>
                    <a href="{{ url_for('logout') }}">Log out</a>
                {% endif %}
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
