{% extends "layout.html" %}
{% block body %}
    <h3>Login</h3>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <dl>
            <dt>{{ form.username.label }}:
            <dd>{{ form.username }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class=error>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </dl>
        <p><input type="submit" value="Login">
    </form>
{% endblock %}
